<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.lugar}}">
  <ion-content class="padding">
  <div class="item item-divider">
      <i class="ion-images"></i>
      Imágenes guardadas
    </div>
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" ng-click="showImages($index)" class="image-list-thumb"/>
        <!--button ng-repeat="image in images" class="button ion-camera" id="foto" >Tomar foto</button-->
      </ion-scroll>
    </a>
    <label class="item item-input">
      <span class="input-label">Descripción</span>
      <input type='text' ng-model='datos.descripcion'/>
    </label>

    <button class="button button-block button-balanced ion-ios-cloud-upload-outline" id="foto" ng-click="updatePosition();">
      Actualizar descripción
    </button>
    <br><br>
  </ion-content>
</ion-view>
