<div class="modal image-modal transparent" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="image in images">
            <img ng-src="{{urlForImage(image)}}" class="fullscreen-image"/>
        	<!--button class="button ion-social-whatsapp-outline" id="foto" ng-click="{{ share(urlForImage(image)) }}"></button-->

		    <button class="button button-block button-balanced ion-social-whatsapp-outline" id="foto" ng-click="share(image)">
		    </button>
        </ion-slide>
    </ion-slide-box>
</div>