<ion-view view-title="Account">
  <ion-content>
    <label class="item item-input item-select">
	    <div class="input-label">
	      Usuario activo
	    </div>
	  	<select ng-model="datos.idUsuario" ng-options="usuario.id as usuario.nombre for usuario in usuarios" ng-change="changeActiveUser()">
	  	</select>
  	</label>
  	<button class="button button-block button-assertive" id="foto" ng-click="sync();">
  		Sincronizar
	</button>
	{{ mensaje }}
    <!--button class="button ion-ios-cloud-upload-outline">Tomar foto</button-->
  </ion-content>
</ion-view>
