<ion-view view-title="Chats">
  <ion-content class="padding">
    <div id="mapa" data-tap-disabled="true"></div>

    <button class="button button-block button-energized ion-refresh" id="foto" ng-click="reloadData();">
      Recargar datos
    </button>

    <ion-scroll style="height: 55%">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="position in positions" type="item-text-wrap" href="#/tab/chats/{{position.id}}">
          <img ng-src="{{position.face}}">
          <h2>{{position.descripcion}} - {{position.lugar}}</h2>
          <p>{{position.fecha}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(position.id)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    <ion-scroll>
  </ion-content>
</ion-view>
