<ion-view view-title="Principal">
  <ion-content class="padding">
  <div id="map" data-tap-disabled="true"></div>
  <label class="item item-input">
    <span class="input-label">Descripción</span>
    <input type='text' ng-model='datos.descripcion'/>
  </label>
  <!--div class="button-bar">
    <a class="button"-->

    <button class="button button-block button-positive ion-camera" id="foto" ng-click="getPhoto();">
      Tomar foto
  </button>
    <button class="button button-block button-balanced ion-ios-cloud-upload-outline" id="foto" ng-click="insert();">
      Insertar
  </button>
      <!--button class="button ion-camera" id="foto" ng-click="getPhoto();">Tomar foto</button>
    <!--/a>
    <a class="button"-->
      <!--button class="button ion-ios-cloud-upload-outline" id="foto" ng-click="insert();">Inserta!</button-->
    <!--/a>
  </div-->
  <div class="item item-divider">
    <i class="ion-images"></i>
      Imagenes realizadas
  </div>
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" ng-click="showImages($index)" class="image-list-thumb"/>
      </ion-scroll>
    </a>
  {{ mensaje }}
  </ion-content>
  <!--ion-footer-bar class="bar-dark">
      <a ng-click="relocate()" class="button button-icon icon ion-navigate">Localízame</a>
  </ion-footer-bar-->
</ion-view>
